n8n-workflow-resgate-conversas.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -736,
        -96
      ],
      "id": "7eee9094-628e-4717-bf0b-bf7c27a56729",
      "name": "Schedule Trigger - A cada 5 minutos"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ultima_mensagem_nao_resgate AS (\n    SELECT DISTINCT ON (m.conversation_id)\n      m.conversation_id,\n      m.id as message_id,\n      m.created_at,\n      m.sender_type,\n      m.sender_id,\n      m.message_type,\n      m.content\n    FROM messages m\n    WHERE m.message_type IN (0, 1)\n      -- Exclui mensagens de resgate já na fonte\n      AND NOT (\n        m.content ILIKE '%Sim → para prosseguir com um especialista%'\n        OR m.content ILIKE '%para prosseguir com um especialista%'\n        OR m.content ILIKE '%Seguir → para continuar com um especialista%'\n        OR m.content ILIKE '%Encerrar → para finalizar o atendimento%'\n      )\n    ORDER BY m.conversation_id, m.created_at DESC\n  ),\n  conversas_theo_aguardando AS (\n    SELECT\n      c.id as conversation_id,\n      c.account_id,\n      c.inbox_id,\n      c.contact_id,\n      c.cached_label_list,\n      c.updated_at,\n      c.contact_inbox_id,\n      c.display_id,\n      c.assignee_id,\n      ct.phone_number as contact_phone,\n      um.created_at as ultima_msg_theo_at,\n      um.content as ultima_msg_content,\n      EXTRACT(EPOCH FROM (NOW() - um.created_at))/60 as minutos_desde_ultima_msg_theo,\n      CASE\n        WHEN EXTRACT(EPOCH FROM (NOW() - um.created_at))/60 BETWEEN 14 AND 20 THEN '15_minutos'\n        WHEN EXTRACT(EPOCH FROM (NOW() - um.created_at))/60 BETWEEN 115 AND 130 THEN '2_horas'\n        ELSE 'fora_do_intervalo'\n      END as categoria_tempo\n    FROM conversations c\n    INNER JOIN ultima_mensagem_nao_resgate um ON c.id = um.conversation_id\n    LEFT JOIN contacts ct ON c.contact_id = ct.id\n    WHERE c.status = 0\n      AND c.assignee_id IS NULL\n      AND c.team_id IS NULL\n      AND um.sender_type = 'User'\n      AND um.sender_id = 16\n      AND um.message_type = 1\n      AND (\n        (EXTRACT(EPOCH FROM (NOW() - um.created_at))/60 BETWEEN 14 AND 20)\n        OR\n        (EXTRACT(EPOCH FROM (NOW() - um.created_at))/60 BETWEEN 115 AND 130)\n      )\n  )\n  SELECT\n    cta.*\n  FROM conversas_theo_aguardando cta\n  WHERE NOT EXISTS (\n    SELECT 1 FROM messages m\n    WHERE m.conversation_id = cta.conversation_id\n      AND m.message_type = 1\n      AND m.created_at > cta.ultima_msg_theo_at\n  )\n  ORDER BY cta.minutos_desde_ultima_msg_theo ASC\n  LIMIT 50",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -512,
        -96
      ],
      "id": "dca87920-1156-4ebb-9dd5-41a17d35cf3a",
      "name": "Buscar Conversas Pausadas",
      "credentials": {
        "postgres": {
          "id": "IT0NoFEDEFya6oUV",
          "name": "Cordex.ai - Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -288,
        -96
      ],
      "id": "2d82bc2a-5da0-4839-abcf-80116adff7b4",
      "name": "Loop Conversas"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d960d499-6da2-4997-9747-b4cb310982c6",
                    "leftValue": "={{ $json.categoria_tempo }}",
                    "rightValue": "15_minutos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "15 minutos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.categoria_tempo }}",
                    "rightValue": "2_horas",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "877f3d17-3a10-4c2c-93cd-696535eaf37d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2 horas"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        0,
        -192
      ],
      "id": "a4b6f60c-6d7d-4bd0-9d1d-abf963d69579",
      "name": "Switch por Tempo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.doutorai.com.br/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.display_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "Estamos com um alto volume de atendimentos diários e quero garantir que você conheça nosso *crédito sem taxas ou antecipações*, com o primeiro pagamento *só em 15 dias*. Posso te transferir para um especialista humano agora para você contratar! 💙\n\nPor favor, responda:\n*Sim* → para prosseguir com um especialista\n*Não* → para encerrar o atendimento"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        240,
        -192
      ],
      "id": "948a573e-ad67-4f98-a4ee-e292afd6fdbc",
      "name": "Mensagem 15 Minutos",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tr56s7v9Vbai5IBE",
          "name": "Chatwoot - Theo Aurea"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.doutorai.com.br/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.display_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "Você gostaria de seguir com o processo, ou prefere que eu encerre o atendimento por agora?\n\nPor favor, responda:\n*Seguir* → para continuar com um especialista\n*Encerrar* → para finalizar o atendimento"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        240,
        0
      ],
      "id": "eace2bc0-3ada-4e89-9d66-e2f16db2090d",
      "name": "Mensagem 2 Horas",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tr56s7v9Vbai5IBE",
          "name": "Chatwoot - Theo Aurea"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories_aurea",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories_aurea"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Buscar Conversas Pausadas').item.json.contact_phone }}",
            "message": "={\"type\": \"ai\", \"content\": \"Estamos com um alto volume de atendimentos diários e quero garantir que você conheça nosso crédito sem taxas ou antecipações, com o primeiro pagamento só em 15 dias. Posso te transferir para um especialista humano agora para você contratar! Por favor, responda: Sim → para prosseguir com um especialista Não → para encerrar o atendimento\", \"additional_kwargs\": {}, \"response_metadata\": {}}"
          },
          "matchingColumns": ["id"],
          "schema": [
            {"id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "number", "canBeUsedToMatch": true, "removed": true},
            {"id": "session_id", "displayName": "session_id", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "message", "displayName": "message", "required": true, "defaultMatch": false, "display": true, "type": "object", "canBeUsedToMatch": true}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        480,
        -192
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Salvar Historico IA - 15min",
      "credentials": {
        "postgres": {
          "id": "IT0NoFEDEFya6oUV",
          "name": "Cordex.ai - Chatwoot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories_aurea",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories_aurea"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Buscar Conversas Pausadas').item.json.contact_phone }}",
            "message": "={\"type\": \"ai\", \"content\": \"Você gostaria de seguir com o processo, ou prefere que eu encerre o atendimento por agora? Por favor, responda: Seguir → para continuar com um especialista Encerrar → para finalizar o atendimento\", \"additional_kwargs\": {}, \"response_metadata\": {}}"
          },
          "matchingColumns": ["id"],
          "schema": [
            {"id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "number", "canBeUsedToMatch": true, "removed": true},
            {"id": "session_id", "displayName": "session_id", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "message", "displayName": "message", "required": true, "defaultMatch": false, "display": true, "type": "object", "canBeUsedToMatch": true}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        480,
        0
      ],
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Salvar Historico IA - 2h",
      "credentials": {
        "postgres": {
          "id": "IT0NoFEDEFya6oUV",
          "name": "Cordex.ai - Chatwoot"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger - A cada 5 minutos": {
      "main": [
        [
          {
            "node": "Buscar Conversas Pausadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Conversas Pausadas": {
      "main": [
        [
          {
            "node": "Loop Conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Conversas": {
      "main": [
        [],
        [
          {
            "node": "Switch por Tempo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch por Tempo": {
      "main": [
        [
          {
            "node": "Mensagem 15 Minutos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem 2 Horas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem 15 Minutos": {
      "main": [
        [
          {
            "node": "Salvar Historico IA - 15min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Historico IA - 15min": {
      "main": [
        [
          {
            "node": "Loop Conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem 2 Horas": {
      "main": [
        [
          {
            "node": "Salvar Historico IA - 2h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Historico IA - 2h": {
      "main": [
        [
          {
            "node": "Loop Conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "0dff2809c326d67264ac89b11c62a81c0e33c81a110b2979fd152608e157400d"
  }
}