n8n-workflow-enviar-audio.json
{
  "name": "Enviar ﾃ「dio - Chatwoot",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "audio_url"
            },
            {
              "name": "account_id"
            },
            {
              "name": "conversation_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "trigger-enviar-audio",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "={{ $json.audio_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        0
      ],
      "id": "baixar-audio",
      "name": "Baixar ﾃ「dio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://app.doutorai.com.br/api/v1/accounts/{{ $('When Executed by Another Workflow').item.json.account_id }}/conversations/{{ $('When Executed by Another Workflow').item.json.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        440,
        0
      ],
      "id": "enviar-chatwoot",
      "name": "Enviar para Chatwoot",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tr56s7v9Vbai5IBE",
          "name": "Chatwoot - Theo Aurea"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status-output",
              "name": "status",
              "value": "enviado",
              "type": "string"
            },
            {
              "id": "message-id",
              "name": "message_id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        0
      ],
      "id": "output-status",
      "name": "Output"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Baixar ﾃ「dio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar ﾃ「dio": {
      "main": [
        [
          {
            "node": "Enviar para Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar para Chatwoot": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "0dff2809c326d67264ac89b11c62a81c0e33c81a110b2979fd152608e157400d"
  }
}
